@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
:root{
    --shadow-color: rgba(0, 0, 0, 0.2);
    --whole-color: linear-gradient(135deg, #FFFFFF, #F0F0F0, #E8E8E8);
    --form-color: linear-gradient(135deg, #FFFFFF, #F0F0F0, #E8E8E8);
    --secondary-color: #ffffff;
    --next-color: linear-gradient(135deg, #ffffff, #dcdcdc, #f2f2f2);
    --small-color: #333333bd;
    --primary-color:black;
    --nav-color: white;
    --gradient-color: linear-gradient(135deg, #0072ff, #00c6ff);
     --services-color: linear-gradient(130deg, #FFFFFF, #F0F0F0, #E8E8E8);
     --cont-color: #fafafa ;
     --serv-color:linear-gradient(65deg, #FFFFFF, #F0F0F0, #E8E8E8);
     --heading-color: #05198a79;
     --skills-content: #f7f8f9;
     --home-color:#E8E8E8 ;
}
#read{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.about .Dd{
    border-radius: 50px;
    height: 200px;
    margin-top: 5.5rem;
}
.next .m{
    margin-left: 6px;
}
.dark-theme{
    --shadow-color: rgb(0, 0, 0);
    --small-color:#dddddd69;
    --next-color:linear-gradient(135deg, #000000, #222222);
    --form-color:rgba(12, 12, 12, 0.747);
    --secondary-color: black;
    --primary-color:#bdb2b2d7;
    --nav-color: rgba(12, 12, 12, 0.842);
    --services-color: #00000048;
    --whole-color: black;
    transition: all 0.2s ease-in-out;
    --cont-color: #141414;
    --serv-color:#141414 ;
    --heading-color:#05198a79;
    --skills-content: #68626248;
    --home-color: #68626248;

    
    /* linear-gradient(transparent, transparent, #0a0041ee , #0a0041ee ) */
}
.continue{
    color: var(--primary-color);
}
.ri-toggle-fill{
    font-size: 2.5rem;
    cursor: pointer;
}
body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
}
h1, h4, h3{
    text-transform: uppercase;
}
.c{
    color:#0a0041ee ;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    /* max-width: 600px; */
    /* border-bottom: 1px solid #f2f2f2; */
    background-color: var(--nav-color);
    justify-content:space-between;
    z-index: 999;
    /* backdrop-filter: blur(6px); */
    /* box-shadow: 0 0 3px 1px #323232; */
}
.cap {
    position: absolute;
    width: 60px; /* Adjust size as needed */
    top: -5px;
    left: 100px;
  }
.moon{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    position: relative;
    margin-right: 10px;
}
.ri-toggle-line{
    font-size: 2.5rem;
    cursor: pointer;
}
.ri-close-line{
    display: none;
}
.hide{
    opacity: 0;
    color: #b3a9a9e0;
}
.smooth{
    animation: nav 1s ease-in-out ;
    animation-iteration-count: 1;
}
@keyframes nav{
    0%{-webkit-transform:translateY(-150px);
       transform: translateY(-100px);
    }
    100%{
       -webkit-transform: translateY(0);
       transform: translateY(0);
    }
}
h3.logo{
    color:var(--primary-color);
    font-size: 34px;
    padding: 15px 50px;
    display: flex;

}
.link{
    display:flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    text-align: end;
    margin-right: -2rem;
    
}
.link a:hover,
.link a.active{
   color: #0082e6;
}

.link ul{
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      margin-right: 45px;
}
.link a{
    font-size: 20px;
    color: var(--primary-color);

}

.toggle{
    display: flex;
    align-items: center;
    font-size: 40px;
    color: white;
    display: none;
}

a{
    color: var(--primary-color);
    font-size: 17px;
    text-transform: capitalize;
}
a:hover{
    color: #323232;
    text-decoration: dotted;
}
#whole{
    /* background-image: url("./5631533.jpg");
    background-size: cover;
    background-color: var(--nav-color) ;
    background-blend-mode: multiply; */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    /* animation: mave 4s linear infinite; */
    animation-direction: alternate;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
    /* box-shadow: 1px 1px 40px 2px #0082e6; */
    outline: none;
    /* background: var(--whole-color); */   

}
#whole p{
    font-size: 16px;
}
.every-two{
    display: flex;
    gap: 70px;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 290px;
    background: var(--home-color);
    z-index: 0;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@keyframes mave {
    0%{background-position: 0 0;}
    100%{background-position: -200px 0;}
    
}
.words{
    text-align: center;
    font-size: 16px;
    /* background: #0072ff;
    padding: 28px 30px;
    border-radius: 8px; */
}
.para{
    overflow: hidden;
    /* animation: fadeIn 1s ease-in-out forwards; */
}
/* @keyframes para {
 0%{ margin-right: 70px;

 }100%{
     margin-right: 0;
 }
    
} */

.words h2{
     animation: transitionIn 1.2s  ease-in-out;
     overflow: hidden;
     margin-top: 15px;


}
.words h1{
    animation: transitionIn 1.3s ease-in-out;
    overflow: hidden;
    border: none;
}
/* @keyframes ani {
    0%{-webkit-transform:translateX(-50px);
       transform: translateX(-50px);
    }
    100%{
       -webkit-transform: translateX(0);
       transform: translateX(0);
    }
} */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    animation-direction: alternate;
}
.animated-text:nth-child(1) { animation-delay: 0.2s; }
.animated-text:nth-child(2) { animation-delay: 0.2s; }
.animated-text:nth-child(3) { animation-delay: 0.5s; }
.animated-text:nth-child(4) { animation-delay: 0.7s; }
.animated-text:nth-child(5) { animation-delay: 0.9s; }
.animated-text:nth-child(6) { animation-delay: 1s; }
.animated-text:nth-child(7) { animation-delay: 1.1s; }
.animated-text:nth-child(8) { animation-delay: 1.2s; }
.animated-text:nth-child(9) { animation-delay: 1.5s; }


.pic {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 400px;
    width: 400px;

}

.pic img{
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    margin-left: 15px;
    background: var(--secondary-color);
    border: 10px solid var(--home-color); 
}
/* .two::before, 
.two::after{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background:conic-gradient(transparent, transparent, transparent, #0082e6);
    transform: rotate(0deg);
    animation: rotateborder 10s linear infinite;

} */
@keyframes rotateborder{
    100%{
        transform: rotate(360deg);
    }
}
/* .two::after{

    animation-delay: -5s;
} */
/* .two .pic{
    display: flex;
    justify-content: center; */
    /* width: 100%;
    height: 100%;
    border-radius: 50%; */
    /* position: relative;
    background: var(--secondary-color);
    overflow: hidden;
    z-index: 1;
}  */
/* .two .edit{
      height: 100%;
      width: 100%;
} */
.check{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
.check p{
    font-size: 20px;
    text-transform: capitalize;
}
.build{
    animation: transitionIn 1.4s ease-in-out;
    overflow: hidden;
}
#cols a{
    color: white;
    font-size: 15px;
}
.social a{
    color: black;
    font-size: 20px;
    padding-right: 10px;
}
.social a:hover{
    color: #0082e6;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    animation: transitionIn 1s ease-in-out;
}
.btn button{
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
     background-color: #0082e6;
    cursor: pointer;
     box-shadow: 0 0 4px 1px #323232;
     
}
.btn button:hover{
box-shadow: 0 0 8px 2px #0b27ca;
}
.btn a{

}
.btn-download{
    padding: 12px 7px;
    font-size: 15px;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #323232;
    transition: background-color 0.3s, transform 0.2s;

}
.btn-download:hover{
    background: #0082e6;
    color: var(--primary-color);
    
    
}
#cols{
  background: #0082e6;
  border: none;
  box-shadow: 0 0 2px 1px #323232;
 
}
#cols .red{
    font-size: 14px;
    padding: 9px 8px;
    color: var(--secondary-color);
}

#cols:hover{
box-shadow: 0 0 5px 2px black;
color: var(--secondary-color);
transform: scale(1.05);
}
.check{
    animation: transitionIn 1s;
}
.social a{
    color: var(--primary-color);
}
.about{
     background-repeat: no-repeat;
     /* background-size: 100% 100%;  */
    /* animation-direction: alternate; */
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    /* box-shadow: 2px 0px 40px 2px #323232; */
    
}
.event{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 5px;
    
}
.next  .sub-title-shape-left{
   width: fit-content;
    text-align: center;
    margin-bottom: 20px;
}
.here{
    background: var(--serv-color);
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 20px 20px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3)

}
.about h1{
    border: none;
}
.about .event{
    display: flex;
    align-items: center;
    position: relative;
}
.about .event::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 2px;
    border-left: 4px dotted var(--small-color);
    z-index:999 ;
}
.event:last-child::before {
    /* display: none; */
}
.about .circle{
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 4px solid var(--small-color);
    margin-right: 4px;
    flex-shrink: 0;
    right: 2px;
    z-index: 999;
}

.about p{
    font-size: 16px;
}
.Dd{
    margin-top: 3rem;
    width: 300px;
    height: 300px;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;
    position: relative;
    border-radius: 50px 50px 20px 20px;
    width: 100%;
    min-height: 100%;

}
.cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contain{
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background:var(--small-color);
    border-radius: 20px;
    margin-left: 50px;
    animation: con 1.5s ease-in-out;
}
.continue{
    color: var(--primary-color);
}
@keyframes con {
    0%{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
        transform: rotate(0deg);

    }100%{
       opacity: 1;
       filter: blur(0);
       transform: translateX(0);
       transform: rotate(45deg);
    }
    
}
.next{
    animation: transitionIn 1.3s ease-in-out;
    padding: 20px;
    /* background: var(--serv-color); */
    background: var(--next-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 260px;
    border-bottom-left-radius: 100px;
    margin-top: 20px;
    width: auto;
}
.continue p{
    color: var(--primary-color);
}
.continue h4{
    color: var(--primary-color);
}
@keyframes next {
    0%{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

    }100%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);

    }
}
.content img{
    width:189px;
    height: 200px;
    border-radius: 100%;
    transform:rotate(-45deg);
    margin-left: -2px;
    margin-bottom: 50px;
     box-shadow: 0 0 8px 5px #323232;
}
.content img:hover{
    transition: all .2s ease-in;
   
}
.bgcolor{
    display: none;
    transition: all 1s;
    background-color: rgba(9, 103, 190, 0.767);
    color: white;
    /* border-bottom: 1px solid #0082e6bd; */
}
.bgcolor a{
    color: black;
}
.bgcolor a:hover{
    color:white;
}
.bgcolor .logo{
    color: white;
}
.next h4{
 width:auto;
 text-align: center;
}
.next h1{
    text-align: center;
    margin-bottom: -2rem;
}
.next p{
    margin-top: 15px;
    font-size: 16px;
    /* border-bottom: 1px solid var(--primary-color); */
    padding-bottom: 6px;
}
.next span{
   color: var(--primary-color);
}
.next button{
    margin-top: 10px;
    padding: 10px 15px ;
    border: none;
    border-radius: 6px;
    color: #0082e6;
    cursor: pointer;
}
.next button:hover{
    color: white;
    background: #0082e6;
    transition: all .3s;
    box-shadow: 0 0 8px 1px #323232;
}
.ahh{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
}
.services{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid #fafafa;
    background: var(--serv-color); */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */

}
.services span{
    color: var(--primary-color);
  
}
.services p{
    font-size: 16px;
}
.thm-section-title{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.main-service-one-section .row{
    display: flex;
    gap: 50px;
}
.main-service-one-section {
    position: relative;
    display: block;
    padding: 0 0 70px;
    margin-top: -80px;
    padding-top: 20px;
    z-index: 2;
    background: var(--serv-color);
    overflow: hidden;
    width: 90%;
   
}
.main-service-one-sec-single{
    position: relative;
    display: block;
    margin-bottom: 30px;
    max-width: 350px;
}
.main-service-one-sec-img{
    position: relative;
    display: block;
    overflow: hidden;
}
.main-service-one-sec-img img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: .5s;
}
.main-service-one-sec-single:hover .main-service-one-sec-img img {
    transform: scale(1.1);
}
.main-service-one-sec-content{
    position: relative;
    display: block;
    padding: 38px 40px 40px;
    background:var(--services-color);
    box-shadow: 0px 50px 90px 0px rgb( 26, 46, 85, .10);
}
.main-service-one-count {
   position: absolute;
   top: 30px;
   right: 40px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #0082e6;
   color: transparent;
   z-index: 99;
   font-family: var(--heading-font);
   font-size: 36px;
   font-weight: 800;
}
.main-service-one-sec-content h4 {
   display: inline-block;
   font-size: 16px;
   background-color: var(--thm-primary);
   font-weight: 400;
   line-height: 26px;
   color: #fff;
   padding: 3px 20px;
   margin-bottom: 7px;
}
.main-service-one-sec-content h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.main-service-one-sec-content p{
    margin: 0;
}
.main-service-one-btn {
    margin-top: 30px;
}
.main-service-one-btn .theme-btn {
    padding: 10px 30px;
    background-color: #222;
}
.main-service-one-btn .theme-btn:hover {
    background-color: var(--thm-primary);
}
.main-service-one-icon {
   font-size: 70px;
   margin-bottom: 25px;
   color: var(--thm-primary);
   line-height: 70px;
}

.All-skilled{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.section_title-subheading {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding: 3px;
    background: var(--secondary-color);
    border-radius: 1px;
    border: 3px solid var(--heading-color);
    box-shadow:  10px 10px var(--heading-color);
}
.container .sub-title-shape-left{
margin-bottom: -30px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.container .h4 {
    padding-bottom: -9px;
    margin-bottom: -100px;
}
.thm-section-title{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin:0px;
}
.thm-section-title h2{
    margin-top: 20px;
    font-size: 2rem;
}
.thm-section-title h4{
    margin-bottom: -50px;
    width: fit-content;
}
.container .row{
    display: flex;
}
.why-choose-two-section{
    position: relative;
    display: block;
    padding: 100px 0 100px;
}
.why-choose-two-image{
    position: relative;
    display: flex;
    width: 100%;
}
.why-choose-two-image img{
    width: 100%;
}
.why-choose-right-content {
    position: relative;
    display: block;
    background: var(--skills-content);
    margin-left: -30px;
    padding: 90px 70px 53px;
}
.most-trusted-skill {
    position: relative;
    display: block;
    padding-left: 100px;
    margin-bottom: 45px;
}
.most-trusted-skill-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 1.362px 2.673px 35px 0px rgb( 0, 0, 0, .08 );
    background: #ffffff;
    line-height: 100px;
    text-align: center;
    font-size: 65px;
    color: #0082e6;
    position: absolute;
    top: 0;
    left: 0;
}

.most-trusted-skill-icon span{

}
.most-trusted-text{
    margin-left: 30px;
}
.most-trusted-text h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}
.most-trusted-text p{
    margin: 0;
}

.progress-levels {
    position: relative;
    display: block;
    overflow: hidden;
}

.progress-levels .progress-box {
    position: relative;
    display: block;
    margin-bottom: 38px;
}

.progress-levels .progress-box:last-child {
    margin-bottom: 0;
}

.progress-levels .progress-box .inner {
    position: relative;
    display: block;
}

.progress-levels .progress-box .bar {
    position: relative;
    display: block;
}

.progress-levels .progress-box .bar .bar-innner {
    position: relative;
    width: 100%;
    height: 7px;
    background: #f3e7e7;
    border-radius: 10px;
}

.progress-levels .progress-box .bar .bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-radius: 10px;
    background: #0082e6;
    width: 0%; /* Start with 0% */
    transition: width 0s linear; /* Smooth transition when the width changes */
}

/* Add skill-percent styling for smooth placement */
.progress-levels .progress-box .bar .bar-innner .skill-percent {
    position: absolute;
    top: -30px;
    right: 0;
    width: 40px;
    height: 25px;
    display: block;
    text-align: center;
    padding: 0;
    z-index: 1;
}

.progress-levels .progress-box .inner .count-text {
    position: relative;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    float: none;
}

.progress-levels .progress-box .inner .percent {
    position: relative;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    float: none;
    margin-left: -2px;
}

.progress-levels .progress-box .inner .text {
    position: relative;
    color: var(--thm-black);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding-bottom: 8px;
}


/* Add similar styles for other percentages */


/* .skill svg circle.animated {
    animation: circleAnimation 2s ease-out forwards;
}

/* Define the animation */

svg{
    position:absolute ;
    top: 0;
    left: 0;
}
@keyframes anim1 {
    100%{
        stroke-dashoffset: 164.14;
    }
    
}
@keyframes anim2 {
    100%{
        stroke-dashoffset: 120.16;
    }
    
}
@keyframes anim3 {
    100%{
        stroke-dashoffset: 208.12;
    }
    
}
@keyframes anim4 {
    100%{
        stroke-dashoffset: 216.916;
    }
    
}

.web-under, .ui-under, .data-under{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
}
.ikon{
    font-size: 60px;
    border-bottom: 1px solid var(--small-color);
    width: 30%;
    color: #142dbe79;
}
.parent{
    margin-top: 2px;
    display: flex;
    gap: 10px;
    /* height: 100vh;
    width: 100%; */
    justify-content: center;
    align-items: center;
    animation: par 2s ease-in-out;
    font-size: 16px;
}
.parent p{
    font-size: 16px;
}
@keyframes par{
    0%{
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);

    }100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }
}
.parent >div{
    width: 440px;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:1px solid #0082e6; */
    /* box-shadow: 0 0 2px 1px #0082e6; */
    border-radius: 30px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    box-shadow: 10px 10px 5px var(--shadow-color);
    background:var(--services-color);
}
 .hiadde{
    display: none;
    
}
.parent>div:hover{
   cursor: pointer;
}
.und button{
    padding: 9px 13px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color:white;
    background: #0082e6;
    cursor: pointer;
    box-shadow: 0 0 2px 1px #323232;
}
.und button:hover{
    color: #0082e6;
    background: white;
    box-shadow: 0 0 6px 1px #323232;
    transition: all 0.3s ease-in-out;
}

.contactser{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: transitionIn 1.4s ease-in-out;
    background:var(--cont-color) ;
}
/* @keyframes conts{
    0%{
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);

    }100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);

    } */
/* .hugec{
    position: relative;
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
gap: 15rem;
margin-bottom: 4rem;
width: 100%;

} */

.my-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-left: 100px;
    text-transform: capitalize;
}
.my-info h3{
    text-transform: capitalize;
}
.my-info h4{
    width: fit-content;
}
.my-info .thm-section-title{
    display: flex;
    margin-top: -15px;
    gap: 2px;
    align-items: flex-start;
}
.my-info .thm-section-title h3{
    font-weight: 500;
}
.my-info i{
    color: #0082e6;
}
.info-content .item-content{
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.info-content .item-content h4{
    padding: 0;
    margin: 0;
}
.rights{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 40%;
    gap:15px;
    margin-bottom: 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: var(--form-color);
    border: none;
    
}
.rights p{
    text-align: center;
    font-size: 15px;
}
form h2{
    color:var(--primary-color);
    font-size: 30px;
    margin-bottom: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

form input, textarea{
    width:  100%;
    padding: 5px 0px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    border-left: 1px solid var(--form-color);
    resize: none;
}
form ::placeholder{
    color: var(--primary-color);
}

form button{
    padding: 9px 20px;
    border-radius: 6px;
    border: none;
    width: 100%;
    background-color: #0082e6;
    color: var(--secondary-color);
    cursor: pointer;
    
}
form button:hover{
    background-color: var(--primary-color);
    box-shadow: 0 0 8px 1px #323232;
}
.fuuter{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:black;
    color: rgba(255, 255, 255, 0.568);
    height: 35vh;

    
}
form .inputBox{
    position: relative;
    width: 100%;
    
}
.Form-pic{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.contact-v3-info-content{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    padding-bottom: 80px;

}
.contact-v3-info-content .row{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.contact-v3-info-content .col-lg-4{
 /* max-width: 400px;
 background: var(--serv-color); */
 padding: 20px;
}
.info-item{
    display: flex;
    gap: 10px;
}
.contact-v3-info-content .icon-wrapper{
    font-size: 3rem;
    color: #0082e6;
    font-weight: 100;
}
.contact-v3-info-content .item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contact-v3-info-content .item-content h4{
    font-size: 1.2rem;
    color: #05198a79;
}
.footer-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151924;
    padding: 94px 0 0px;
}
.footer-section .row{
    display: flex;
    gap: 100px;
}
.footer-section .row >div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.footer-widget-title{
    margin-bottom: 25px;
}
.footer-widget-title h3{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    line-height: 32px;
}

.footer-widget-about {
    margin-right: 20px;
    max-width: 400px;
}
.footer-widget-about-text {
    margin-top: -4px;
}
.footer-widget-about-text p{
    font-size: 16px;
    color: #ffffff;
    line-height: 33px;
    margin: 0;
}
.footer-widget-about-social{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 25px;
}
.footer-widget-about-social a{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #26262c;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.footer-widget-about-social a:hover{
    background: var(--thm-primary);
}
.footer-widget-about-social a+a{
    margin-left: 10px;
}

.footer-widget-useful-links{}
.footer-widget-useful-links-list{}
.footer-widget-useful-links-list li+li{
    margin-top: 7px;
    width: 200px;
}
.footer-widget-useful-links-list li a{
    font-size: 16px;
    color: #fff;
}

.footer-widget-useful-links-list li a:hover {
    color: #0082e6;
}

.footer-widget-contact{}
.footer-widget_contact-info{

    display: flex;
    flex-direction: column;
}
.footer-widget_contact-info p {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    line-height: 26px;
    margin-bottom: 4px;
}
.footer-widget_contact-info a{
    color: #ffffff;
    font-size: 16px;
}

.footer-widget-gallery {
    margin-left: 86px;
}
.footer-widget-gallery-list {
    padding-top: 6px;
}
.footer-widget-gallery-list li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer-widget-gallery-list li .gallery-img {
    position: relative;
    display: block;
}

.footer-widget-gallery-list li .gallery-img:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0,0,0,.3);
    transform: scaleX(0);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.footer-widget-gallery-list li:hover .gallery-img:before{
    transform: scaleX(1);
} 
.footer-widget-gallery-list li .gallery-img img {
    border-radius: 5px;
    width: 100%;
}
.gallery-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--thm-primary);
    font-size: 15px;
    transform: scale(0);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.footer-widget-gallery-list li:hover .gallery-img-hover{
    transform: scale(1);
} 
.footer-bottom {
    padding-top: 84px;
    padding-bottom: 40px;
}
.footer-bottom p{
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    margin: 0;
    text-align: center;
}
.fuuter h2{
    color: #0082e6;
} 
.fuuter ul{
    display: flex;
    gap: 70px;
    color: rgba(255, 255, 255, 0.568);
}

.fuuter a{
    color: rgba(255, 255, 255, 0.568);
}

.fuuter a:hover{
    color: #0082e6;
}
.reach{
    column-gap: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    
}
.reach a{
    font-size: 20px;
    padding-right: 40px;
    color: white;
    color: rgba(255, 255, 255, 0.568);
    
}
.under a{
    display: flex;
    flex-direction: row;
}
.fap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex-direction: column; 
}
.fap p{
    padding: 10px;
    background: var(--services-color);
    border-radius: 4px;
    font-weight: 700;
}
/* Style for the image link */
.image-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px; /* Rounded corners for a smoother look */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 10px 10px 5px var(--shadow-color);
  }
  
  /* Initial image styling */
  .hover-image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  /* Hover effect for the link */
  .image-link:hover {
    transform: scale(1.05); /* Slight zoom-in effect */
    box-shadow: 15px 15px 2px var(--shadow-color); /* Adds a shadow effect */
  }
  
  /* Hover effect for the image */
  .image-link:hover .hover-image {
    transform: scale(1.1) rotate(2deg); /* Image zooms and slightly rotates */
  }

/* @keyframes good {
    0%{background-position: 0 0;}
    100%{background-position: -300px 0;}
} */
.fa span{
    color: #0082e6;
}
.fa h2{
    margin-bottom: 40px;
}
.quest{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    justify-content: center;
    gap: 80px;
    align-items: center;

}
.quest >div img{
    width: 100%;
    height: 100%;
   
}
.par{
    display: none;
}
.par.active{
 display: flex;
}
.tra{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: var(--secondary-color);
   
   /* animation: transitionIn 1s; */
}
.tra h2{
 font-size: 30px;   
 color: var(--primary-color);
}


/* @keyframes transitionIn {
    from{
       opacity: 0;
       transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
} */
.reveal{
    position: relative;
    transform: translateY(12px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.rav{
    position: relative;
    transform: translateX(-80px);
    opacity: 0;
    transition: all 1.5s ease;
}
.rav.slide{
    transform: translateX(0);
    opacity: 1;
}
.cont a{
    color: var(--primary-color);
}
@media (max-width:1000px) {

    .link{
        margin-right: 10px;
        justify-content:end;
        width: 100%;
        align-items: end;
        margin-right: -2rem;
    }
    .cap{
        top: -2px;
       left: 90px;
       width: 40px;
    }
    p{
        font-size: 16px;
    }
    .link a{
        font-size: 17px;
        font-weight: 500;
    
    }
    #whole p{
        font-size: 16px;
    }
     .pic{
        height: 290px;
        width: 290px;
     }
     .pic img{
        width: 100%;
     }
     h1 {
        font-size: 24px;
     }
     
    .words h1{
        font-size: 24px;
    }
    .words h2{
        font-size: 24px;
    }
    .build p{
        font-size: 16px;
    }
    .words .para{
          margin-bottom: -15px;
    }
    .words{
        margin-top: 60px;
    }
    .in{
        padding-left: 10px;
        min-height: 87vh;
    }
    .thm-section-title h2{
        font-size: 1.5rem;
    }
    .most-trusted-text h3{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .skill{

       margin-top: -30px;
    }
    .container .row{
        flex-direction: column;
    }
    .nav{
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 60px;
    }
    nav .logo{
        margin-left: -1rem;
        font-size: 32px

    }
    .contactser{
        gap: 80px;
        display: flex;

    }
    .parent{
        flex-direction: column;
        gap: 20px;
    }
    .web{
        width: 400px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 2px;
    }
    .about{
      min-height: 100vh;
      display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }
    .event .here{
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        padding-left: 35px;
    }
    .event .here h4{
        margin-right: 0px;
    }
    .event .here p{
        margin-top: 0px;
        margin-right: 0px;
    }
    .contain{
        margin-top: 0px;
    }
    .Dd{
        width: 300px;
        height: 320px;
        display: flex;
        justify-self:center;
        align-content: end;
        margin-top: 5px;
        display: none;
    }
    .next h1{
        display: flex;
        margin-top: 30px;
        justify-content: center;
        margin-left: -60px;
        width: 100%;
        font-size: 24px;
    }
    .services{
        position: relative;
        min-height: 100vh;
        width: 100%;
        font-size: 16px;
        padding-bottom: 30px;
    }
    .services h1{
        font-size: 24px;
    }
    .ikon{
        font-size: 30px;
        align-self: center;
        text-align: center;
        width: 20%;
        align-self: center;
        border-bottom: 1px solid var(--small-color);
    }
    .parent >div{
        width: 80%;
        height: auto;
        cursor: pointer;
        border-radius: 9px;
        position: relative;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .about p{
        font-size: 16px;
    }
    .parent >div p{
        font-size: 16px;
        padding: 10px;
    }
    .parent > div h4{
        align-self: center;
        text-align: center;
        display: flex;
       margin-right: 0px;
        
    }
    /* .web-under, .ui-under, .data-under{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: -40px;
    } */

    .next p, h4{
        margin-right:40px ;
        margin-left:-25px ;
    }
    .quest{
        flex-direction: column;
        width: 100%;
        gap: 30px;
        align-items: center;
        justify-content: center;
        /* padding-bottom: 30px; */
    }
    .contactser{
        display: flex;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        padding-top: 10px;
    }
    .rights{
        display: flex;
        width: 70%;
        height:90vh;
    }
    form h2{
        font-size: 24px;
    }
    form {
        width: 80%;
        padding-bottom: 65px;
        padding-top: 40px;
    }
    .Form-pic{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .Form-pic .side img{
        width:100%;
        padding-right: 0;
    }
    .rights h2{
        padding-top: 20px;
    }
    .my-info p{
        font-size: 16px;
    }
    .my-info{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        padding-bottom: 25PX;
    }
    .my-info .thm-section-title{
        align-items: center;
        justify-content: center
        ;
    }
    .info-content .row{
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .info-item{
        flex-direction: column;
        text-align: center;
    }
    .info-item .item-content{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .my-info h1{
      font-size: 24px;
      text-align: center;
    }
    .tra{
        min-height: 100vh;
        width: 100%;
        padding-bottom: 37px;
    }
    .tra h2{
        font-size: 24px;
    }
    .image-link{
       width: 500px;
    }
    .footer-section{
        padding-left: 10px;
    }
    .footer-section .row{
        align-items: flex-start;
        gap: 40px;
    }
    .fuuter{
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fuuter h2{
        margin-top: 5px;
    }
    .cont{
        display: flex;
        flex-direction: column;
    }
    .fa{
        
    }
    .ahh{
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-self: center;

    }
    
}
@media(max-width:763px) {
    .nav{
        height: 7vh;
        width: 100%;
    }
    .cap{
        top: -5px;
       left: 60px;
       width: 37px;
    }
    .nav h3{
        font-size: 24px;
        margin-left: -2rem;
    }
    .ri-toggle-line{
        font-size: 24px;
    }
    .ri-toggle-fill{
        font-size:24px;
        cursor: pointer;
    }
    @keyframes mave {
        0%{background-position: 0 0;}
        100%{background-position: -150px 0;}
        
    }
    /* .two{
        width: 450px;
        height: 450px;
        overflow: hidden;
      
        border-radius: 50%;
        top: -10px;
    }
    .two.pic{
        margin-top:-90px;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;

    } */
     .words .build{
        padding-left: 15px;
        padding-right: 15px;
     }
    
    .parent{
        height: 100vh;
        flex-direction: column;
        gap: 30px;
    }
    .parent >div{
        width: auto;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        width: 80%;
    }
    #whole p{
        font-size: 16px;
    }
    .every-two{
        flex-direction: column;
        height: 100%;
        position: absolute;
        align-items: center;
       
        justify-content: flex-start;
        gap: 50px;
         margin-top: 100px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
       
        
    }
    .about p{
        font-size: 16px;
    }
    .services p{
        font-size: 16px;
    }
    
    .build{
        margin-top: -20px;
        font-size: 16px
    }
    .para{
        margin-top: -15px;
    }
    .contactser{
        display: flex;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 9px;
    }
    
    nav h3{
        margin-left: -50px;
    }
    .link{
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        height: 100vh;
        display: none;
        animation: dog 0.3s ease-in-out;
        z-index: 999;
        background-color: var(--secondary-color);
        color: var(--primary-color); 
        box-shadow: -10px 0 10px rgb(0, 0, 0, 0.2);
        gap: 20px;
        margin-right: -0.0001px;
        
    }
    @keyframes dog {
        0%{
            -webkit-transform:translateX(250px);
            /* transform:translateX(250px); */
        }
        100%{
            /* opacity: 1;
            transform: translateY(0); */
            -webkit-transform: translateY(0);
            /* transform: translateY(0); */
        }
    }
    .ri-close-line{
        display: flex;
        font-size: 24px;
        width: 100%;
        margin-left: 16rem;
        margin-top: 20px;
        padding: 10px;
        background: var(--serv-color);
        cursor: pointer;
        border-radius: 40px;
    }
    /* .pic{
         width: 50px;
        height: 300px;
        top: -15px;
    } */
    .link ul{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-left: 40px;
        padding: 10px;
       
    }
    link.a{
        font-size: 20px;
        font-weight: 700;
    }
   
    .words{
        margin-top: -40px;
    }
    .words p{
        font-size: 19px;
    }
    .words h1{
        font-size: 23px;
    }
    .words h2{
        font-size: 23px;
        margin-top: -3px;
    }
    .toggle{
        display: flex;
        color: var(--primary-color);
        text-align: end;
        width: 100%;
        justify-content: end;
        font-size:40px;
        margin-right: 8px;

    }
    .ri-menu-fill{
        cursor: pointer;
        font-size: 24px;
    }
    .ri-menu-fill.active{
        display: none;
    }
    .link.open{
        display: flex;
    
    }
    .op{
      animation: piyy 0.3s ease-in-out;
    }

    @keyframes piyy {
        0%{ 
            opacity: 1;
        transform: translateY(0px);

        }
        100%{
            opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ea

        }
    }
    .drop-down{
        position: fixed;
        display: flex;
       
    }
    #whole{
        position: relative;
        min-height: 100vh;
        padding-top: 80px;
        margin-bottom: 0px;
        
    }
    .about{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: -10px;
        flex-direction: column;
    }
    .outer{
        height: 160px;
        width: 160px;
    }
    .event .here{
        padding: 15px 10px;
    }
    .Dd{
        width: 250px;
        height: 200px;
        margin-top: 20px;

        align-self: center;
    }
    .next h1{
        text-align:center;
        align-self: center;
        display: flex;
        justify-self: center;

    }
    .pic{
        width: auto;
    }
    .pic img{
        height: 250px;
        width: 250px;
        margin-bottom: 5px;
    }
    .pic{
        margin-bottom:px;
        margin-top: -40px;
    }
            
    .next p, h4{
        margin-right:0 ;
        margin-left:0;
    }
    .contain{
        margin-top: 100px;
        position: relative;
        width: 180px;
        height: 180px;
        transform: rotate(45deg);
        border-radius: 20px;
        margin-left: 20px;
    }
    .contain img{
        width: 180px;
        height: 180px;

    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
    .next{
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .next h1{
        font-size: 20px;
        display: flex;
        text-align: center;
        align-self: center;
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin-bottom: -1.5rem;
    }
    .parent h2{
        font-size: 20px;
    }
    .parent>div{
        width: 93%;
    }
    .parent >div P{
        padding: 0px;
    }
    .ikon{
        font-size: 40px;
        border-bottom: 1px solid var(--small-color);
        width: 20%;
    }
    .services{
        min-height: 100vh;
        /* margin-top: 52px; */
        padding: 35px 0px;
        gap: 12px;
        /* margin-bottom: 52px; */
    }
    .services>div{
        gap: 20px;
        display: flex;
    }
    .services h1{
        
        font-size: 20px;
    }
    form{
        padding-bottom: 29px;
        padding-top: 20px;
    }
    .web-under{
        font-size: 16px;
    }
    .web{
        font-size: 16px;
    }
    .ui-under{
        font-size: 16px;
    }
    /* .contacts{
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */
    
    .cont{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .em{
        font-size: 15px;

     }
    .rights{
        height: 70vh;
        width: 90%;
        align-self: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .rights button{
        width: 100%;
    }
    .my-info{
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0;

    }
   
    .my-info p{
        font-size: 16px;
        text-align: center;
    }
    form{
        width: 80%;
        display: flex;
    }
    .my-info h1{
        font-size: 20px;
        text-align: center;
    }
    .bgcolor a:hover{
        color:#0082e6;
    }
    .fa h2{
      font-size: 20px;
      margin-bottom: 40px;
    }
    .fa h3{
        font-size: 17px;
    }
    .great{
        text-align: center;
    }
    .quest p{
        font-size: 15px;
        text-align: center;
    }
    .quest h3{
        font-size: 19px;
    }
    .quest{
        gap: 40px;
    }
    .fuuter .reach{
        text-align: center;
       
    }
    .fuuter{
        height: 31vh;
    }
    .fuuter ul{
        gap: 30px;
    }
    .fuuter h2{
      font-size: 19px;
    }
    .contacts{
        display:grid;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }
    .contacts h1{
        font-size:20px;
        margin-left: -9.5rem;
        margin-bottom: -2rem;

    }
   
    .fa{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .fa p{
        font-size: 16px;
    }
    .image-link{
        width: 370px;
    

    }

    .tra{
        gap: 20px;
        min-height: 100vh;
        width: 100%;
        padding-top: 0px;
        
    }.quest >div img{
        width: 100%;
        height: 230px;
       
    }

    .tra h1{
        font-size: 20px;
        margin-top: -16px;
    }
    
    .ahh{
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-self: center;

    }.social a{
        font-size: 10x;
    }
}