*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;


}
nav{
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.678);
    height: 95px;
    display: flex;
    justify-content:space-between;
    z-index: 999;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 3px 1px #323232;
}
.hide{
    opacity: 0;
}
.smooth{
    animation: nav 1s ease-in-out ;
    animation-iteration-count: 1;
}
@keyframes nav{
    0%{-webkit-transform:translateY(-150px);
       transform: translateY(-100px);
    }
    100%{
       -webkit-transform: translateY(0);
       transform: translateY(0);
    }
}
h3.logo{
    color:black;
    font-size: 35px;
    padding: 15px 60px;

}
.link{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.link a:hover,
.link a.active{
    color: #0082e6;
}

.link ul{
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      margin-right: 45px;
}
.link a{
    font-size: 20px;
    font-weight: 500;

}

.toggle{
    display: flex;
    align-items: center;
    font-size: 40px;
    color: white;
    cursor: pointer;
    display: none;
}

a{
    color: black;
    font-size: 17px;
    text-transform: capitalize;
}
a:hover{
    color: #323232;
    text-decoration: dotted;
}
#whole{
    background-image: url("./getInTouchThree.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: mave 4s linear infinite;
    animation-direction: alternate;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@keyframes mave {
    0%{background-position: 0 0;}
    100%{background-position: -300px 0;}
    
}
.words{
    text-align: center;
    font-size: 19px;
}
h1 span{
    color: #0082e6;
}
.para{
    overflow: hidden;
    animation: transitionIn 1s none ease-in-out;
}
/* @keyframes para {
 0%{ margin-right: 70px;

 }100%{
     margin-right: 0;
 }
    
} */

.words h2{
     animation: transitionIn 1.2s  ease-in-out;
     overflow: hidden;
     margin-top: 15px;


}
.words h1{
    animation: transitionIn 1.3s ease-in-out;
    overflow: hidden;
}
/* @keyframes ani {
    0%{-webkit-transform:translateX(-50px);
       transform: translateX(-50px);
    }
    100%{
       -webkit-transform: translateX(0);
       transform: translateX(0);
    }
} */
.words mark{
    background:none;
    color: blue;
}
.pic img{
    overflow: hidden;
    height: 390px;
    width: 390px;
    border-radius: 100%;
    animation: spread 2s ease-in-out;
    border: 10px solid #0082e6;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes spread {
    0%{box-shadow: 0 0 0px 0px #0082e6;}
    20%{box-shadow: 0 0 7px 6px #0082e6;}
    40%{box-shadow: 0 0 20px 7px #0082e6;}
    60%{box-shadow: 0 0 40px 10px #0082e6;}
    80%{box-shadow: 0 0 41px 15px #0082e6;}
    100%{box-shadow: 0 0 42px 16px #0082e6;}
    
}
.check{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
.check p{
    font-size: 20px;
    text-transform: capitalize;
}
.build{
    animation: transitionIn 1.4s ease-in-out;
    overflow: hidden;
}
#cols a{
    color: white;
    font-size: 15px;
}
.social a{
    color: black;
    font-size: 20px;
    padding-right: 10px;
}
.social a:hover{
    color: #0082e6;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    animation: transitionIn 1s ease-in-out;
}
.btn button{
    padding: 10px 12px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
     box-shadow: 0 0 4px 1px #323232;
     
}
.btn button:hover{
transition:  all .1s ease-in-out;
color: blue;
box-shadow: 0 0 8px 2px #0b27ca;
transform: scale(1.1);
}
.btn-download{
    padding: 16px 20px;
    font-size: 15px;
    background-color:rgb(3, 3, 3);
    color: white;
    border-radius: 23px;
    box-shadow: 0 0 2px 1px #323232;
}
.btn-download:hover{
    color: white;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
#cols{
  background: #0082e6;
  color: white;
  border: none;
  box-shadow: 0 0 4px 1px #0f40c9;
 
}
#cols .red{
    font-size: 14px;
    padding: 9px 8px;
}
#cols:hover{
box-shadow: 0 0 4px 1px black;
}
.check{
    animation: transitionIn 1s;
}
#about{
    animation: transitionIn 1s;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-direction: alternate;
    min-height: 130vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Dd{
    margin-top: 3rem;
    animation: transitionIn 1.5s;
    width: 300px;
    height: 300px;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.cont{
    flex-direction: column;
    gap: 10px;
}
.contain{
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    background-color: #0082e6;
    border-radius: 20px;
    margin-left: 50px;
    animation: con 1.5s ease-in-out;
    margin-top: -15rem;
}
@keyframes con {
    0%{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
        transform: rotate(0deg);

    }100%{
       opacity: 1;
       filter: blur(0);
       transform: translateX(0);
       transform: rotate(45deg);
    }
    
}
.next{
    animation: transitionIn 1.3s ease-in-out;
}
@keyframes next {
    0%{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

    }100%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);

    }
}
.content img{
    width:189px;
    height: 200px;
    border-radius: 100%;
    transform:rotate(-45deg);
    margin-left: -2px;
    margin-bottom: 50px;
     box-shadow: 0 0 8px 5px #323232;
}
.content img:hover{
    transition: all .2s ease-in;
   
}
.bgcolor{
    display: none;
    transition: all 1s;
    background-color: rgba(9, 103, 190, 0.767);
    color: white;
    /* border-bottom: 1px solid #0082e6bd; */
}
.bgcolor a{
    color: black;
}
.bgcolor a:hover{
    color:white;
}
.bgcolor .logo{
    color: white;
}
.next h4{
    text-align: center;
}
.next h1{
    text-align: center;
}
.next p{
    margin-top: 15px;
    font-size: 17px;
}
.next span{
    color: #0082e6;
}
.next button{
    margin-top: 10px;
    padding: 10px 15px ;
    border: none;
    border-radius: 6px;
    color: #0082e6;
    cursor: pointer;
}
.next button:hover{
    color: white;
    background: #0082e6;
    transition: all .3s;
    box-shadow: 0 0 8px 1px #323232;
}
.ahh{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
}
#services{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation:  transitionIn 2s ease-in-out;
    animation-direction: alternate;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
#services span{
    color: #0082e6;
  
}
.ikon{
    font-size: 60px;
}
.parent{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    /* height: 100vh;
    width: 100%; */
    justify-content: center;
    align-items: center;
    animation: par 2s ease-in-out;
}
@keyframes par{
    0%{
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);

    }100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }
}
.parent >div{
    width: auto;
    border:1px solid #0082e6;
    box-shadow: 0 0 2px 1px #0082e6;
    border-radius: 7px;
}
 .hiadde{
    display: none;
    
}
.parent>div:hover{
    margin-top: -10px;
    box-shadow: 0 0 8px 1px #0082e6;
    transition: all .3s ease-in-out;
}
.und button{
    padding: 9px 13px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color:white;
    box-shadow: 0 0 8px 1px #323232;
    background: #0082e6;
    cursor: pointer;
}
.und button:hover{
    color: #0082e6;
    background: white;
}
#contacts{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap:300px;
    animation: transitionIn 1.4s ease-in-out ;
}
@keyframes conts{
    0%{
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);

    }100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);

    }
}
#contacts>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.right{
    margin-top: 100px;
}
.my-info{
    display: flex;
    gap: 20px;
}
h1 span{
    color: #0082e6;
}
.my-info i{
    color: #0082e6;
}
.right{
    display: flex;
    flex-direction: row;
    gap:15px;
    align-items: center;
    justify-content: center;
    
}
.right p{
    text-align: center;
    font-size: 15px;
}
form input, textarea{
    width:  70%;
    padding: 10px 12px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    background-color: #555454bb;
    color: white;
}

form button{
    padding: 9px 20px;
    border-radius: 6px;
    border: none;
    background-color: #0082e6;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    
}
form button:hover{
    background-color: #0f40c9;
    box-shadow: 0 0 8px 1px #323232;
}
.fuuter{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #141414;
    color: rgba(255, 255, 255, 0.568);
    height: 35vh;
    
}
.fuuter h2{
    color: #0082e6;
} 
.fuuter ul{
    display: flex;
    gap: 70px;
    color: rgba(255, 255, 255, 0.568);
}
.fuuter a{
    color: rgba(255, 255, 255, 0.568);
}

.fuuter a:hover{
    color: #0082e6;
}
.reach{
    column-gap: 70px;
    
}
.reach a{
    font-size: 20px;
    padding-right: 40px;
    color: white;
    color: rgba(255, 255, 255, 0.568);
    
}
.under a{
    display: flex;
    flex-direction: row;
}
.fa{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: good 5s linear infinite;
    animation-direction: alternate; 


}
@keyframes good {
    0%{background-position: 0 0;}
    100%{background-position: -300px 0;}
}
.fa span{
    color: #0082e6;
}
.fa h2{
    margin-bottom: 40px;
}
.quest{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quest h3{
    cursor: pointer;
}
.quest h3:hover{
    color: #0082e6;
}
.par{
    display: none;
}
.par.active{
 display: flex;
}
#tra{
   
   animation: transitionIn 1s;
}


@keyframes transitionIn {
    from{
       opacity: 0;
       transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}
@media (max-width:1000px) {

    .link{
        margin-right: 10px;
    }
    .pic img{
        height: 310px;
        width: 310px;
    }
    .para{
        margin-top: 15px;
    }
    .nav{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    #contacts{
        gap: 80px;
    }
    .parent>div{
        height: auto;
    }
    #about{
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }
    .contain{
        margin-top: 0px;
    }
    .Dd{
        width: 300px;
        height: 320px;
        display: flex;
        justify-self: end;
        align-self: self-end;
        margin-top: 5px;
    }
    .next h1{
        display: flex;
        margin-top: 30px;
        justify-content: center;
        margin-left: -60px;
        width: 100%;
    }
    .next p, h4{
        margin-right:40px ;
        margin-left:-25px ;
    }
    .ahh{
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-self: center;

    }
    
}
@media(max-width:763px) {
    .nav{
        height: 7vh;
    }
    .nav h3{
        font-size: 30px;
    }
    @keyframes mave {
        0%{background-position: 0 0;}
        100%{background-position: -150px 0;}
        
    }
    .parent{
        height: 100vh;
        flex-direction: column;
        gap: 30px;
    }
    .parent >div{
        width: auto;
        border:1px solid #0082e6;
        cursor: pointer;
        border-radius: 9px;
        width: 80%;
    }
    .build p{
        font-size: 17px;
    }
    .parent>div:hover{
        margin-top: 0;
        box-shadow: 0 0 8px 1px #323232;
    }
    #contacts{
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    
    nav h3{
        margin-left: -50px;
    }
    .link{
        overflow: hidden;
        position: fixed;
        display: flex;
        flex-direction:column;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin-top: 268px;
        display: none;
        animation: transitionIn .3s ease-in;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: rgb(255, 255, 255); 
    }
    @keyframes dog {
        0%{
            -webkit-transform:translateY(-500px);
            transform:translateY(-500px);
        }
        100%{
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    .link ul{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-left: 40px;
        padding: 10px;
       
    }
   
    .words{
        margin-top: -40px;
    }
    .words p{
        font-size: 19px;
    }
    .words h1{
        font-size: 23px;
    }
    .words h2{
        font-size: 23px;
    }
    .toggle{
        display: flex;
        color: black;
        font-size:40px;
        margin-right: 8px;

    }
    .ri-menu-fill{
        display: flex;
    }
    .ri-menu-fill.active{
        display: none;
    }
    .link.active{
        display: flex;
    }
    .drop-down{
        position: fixed;
        display: flex;
       
    }
    #whole{
        flex-direction: column;
        row-gap: 70px;
        min-height: 100vh;
        width: 100%;
        
    }
    .pic img{
        width: 270px;
        height: 270px;

        margin-top: -25px;
    }
    #about{
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: -10px;
        flex-direction: column;
    }
    .Dd{
        width: 250px;
        height: 200px;
        margin-top: 20px;
        align-self: center;
    }
    .next h1{
        text-align:center;
        align-self: center;
        display: flex;
        justify-self: center;

    }
            
    .next p, h4{
        margin-right:0 ;
        margin-left:0;
    }
    .contain{
        margin-top: 100px;
        position: relative;
        width: 180px;
        height: 180px;
        transform: rotate(45deg);
        background-color: #0082e6;
        border-radius: 20px;
        margin-left: 20px;
    }
    .contain img{
        width: 180px;
        height: 180px;

    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
    .next{
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .next h1{
        font-size: 20px;
        display: flex;
        text-align: center;
        align-self: center;
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
    .parent h2{
        font-size: 20px;
    }
    .parent>div{
        width: 93%;
    }
    .parent>div:hover{
        margin-top: -5px;
        box-shadow: 0 0 8px 1px #0082e6;
        transition: none;
    }
    .ikon{
        font-size: 40px;
    }
    #services{
        min-height: 110vh;
        margin-top: 60px;
        display: flex;
        gap: 30px;
    }
    #services>div{
        gap: 20px;
        display: flex;
    }
    #services h1{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .web-under{
        font-size: 17px;
    }
    .web{
        font-size: 17px;
    }
    .ui-under{
        font-size: 17px;
    }
    #contacts{

        height: 45vh;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:0px;


    }
    
    .cont{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .em{
        font-size: 15px;

     }
    .right{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .right button{
        width: 71%;
    }
    .my-info p{
        font-size: 19px;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5rem;
        display: none;
    }
    .my-info h1{
        font-size: 25px;
        text-align: center;
    }
    .bgcolor a:hover{
        color:#0082e6;
    }
    .fa h2{
      font-size: 20px;
      margin-bottom: 40px;
    }
    .fa h3{
        font-size: 17px;
    }
    .great{
        text-align: center;
    }
    .quest p{
        font-size: 15px;
        text-align: center;
    }
    .quest h3{
        font-size: 19px;
    }
    .quest{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 15px;
    }
    .fuuter ul{
        gap: 30px;
    }
    .fuuter h2{
      font-size: 19px;
    }
    .my-info h1{
        font-size: 20px;
    }
    .fa h2{
        text-align: center;
        font-size: 20px;
    }
    .fa p{
        font-size: 17px;
    }
    .fa{
        gap: 25px;
    }
    #tra{
        height: 100vh;
        width: 100%;
        
    }
    .ahh{
        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-self: center;

    }.social a{
        font-size: 10x;
    }
}